<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <img class="logo" width="60px" height="60px" src="{{ url_for('static', filename='img/logo_jp2.png') }}" style="margin-right: 10px; filter: brightness(0) invert(1);">
                </span>
                <span class="title">Pré-classement des voeux</span>
            </a>
        </li>
        <li>
            <a href="/dashboard">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Tableau de Bord</span>
            </a>
        </li>

        <li id="eleves_nav" style="display: none;">
            <a href="#">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Élèves</span>
            </a>
        </li>

        <li id="notification_nav" style="display: none;">
            <a href="/notifications">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">Notifications</span> 
            </a>
        </li>

        <li id="aide_nav">
            <a href="/aide">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">Aide</span>
            </a>
        </li>

        <li id="statistiques_nav" style="display: none;">
            <a href="/statistiques">
                <span class="icon">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                </span>
                <span class="title">Statistiques</span>
            </a>
        </li>

        <li id="siteweb_nav" style="display: none;">
            <a href="/siteweb">
                <span class="icon">
                    <ion-icon name="globe-outline"></ion-icon>
                </span>
                <span class="title">Site Web</span>
            </a>
        </li>
        
        <li>
            <a href="/settings">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Paramètres</span>
            </a>
        </li>


        <li>
            <a href="/logout">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Déconnexion</span>
            </a>
        </li>
    </ul>
</div>