<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Log Voeux-jp2</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/log/style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/whiteBgColor.png') }}" type="image/png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
</head>
<body>
  Les logs sont affichés ici :
<script src="{{ url_for('static', filename='js/log/script.js') }}"></script>
</body>
</html>
